.fonts{
    font-family: 'Montserrat', sans-serif;
    }
    .potocaLanches{
        padding: 0px;
        left: 60px;
    }
    .principal{
        width: 200px;
        border-radius: 100%;
        margin: 60px;
        margin-left: 50px;
    }
    nav{
        position:absolute;
        right: 100px;
        top: 130px;
    }
    
    nav li{
        display: inline;
        margin: 10px 10px 0 1px;
    
    }
    
    nav a{
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: #c78c19;
        text-decoration: underline;
    }
    
    header{
        background-color: white ;
    }

    
    form {
        
        margin: 40px 0;
        width: 100%;
        height: 100%;
    }
    
    form label, form legend {
        display:block;
        font-size: 20px;
        margin: 0 0 10px;
        width: 100%;
    }
    
    .input-padrao {
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 100%;
    }
    
    .checkbox {
        text-align: center;
        margin: 20px 0;
    }
    
    .botao {
        width: 100%;
        padding: 15px 0;
        background: orange;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
        text-align: center;
    }
    
    .botao:hover {
        background: rgb(23, 150, 55);
        transform: scale(1.2);
    }
    /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10pxpx 25px 100px ; padding-bottom: 40px;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; padding-bottom: 10px; }

.footer_ul2_amrc {margin:zpx; list-style-type:none; padding:190px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    text-align: center;
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */
@media screen and (max-width: 480px){
        header{
         text-align: center;
         }
     
         nav{
             position: static;
             text-align: center;
         }
         .potocaLanches{
            width: 70%;
        }
        form{
            position: static;
            width: 400px;
            height: 700px;
        }
        main{
            width: 50%;
            height: 50%;
        }
        .container{
            width: auto;
            height: auto;
        }
}
